html{
  height:100%;
}
body{
  background-image:url(cotton-f.png);
  height:100%;;
}
div#wrapper_container{
  margin:auto;
  height:100%;
  width:1000px;
}
div#tate_right{
  width:61px;
  float:left;
  background-image: url(bg_tate3+.png);
  background-repeat:repeat-y;
  min-height: 100%;
}
div#tate_left{
  float:left;
  width:61px;
  background-image: url(bg_tate3.png);
  background-repeat:repeat-y;
  min-height: 100%;
}
div#center{
  background-color: #fff;
  height:100%;
  float:left;
}
div#logo{
  margin-bottom:-3px;
}
div#menu{
  background-color:#d1e9db;
  width:878px;
}

div#container{
  width:878px;
  position:relative;
  h1{
    font-size:20px;
    color:#ef6528;
  }
  h2{
    border-left:4px
  }
  p{
    margin:5px;
  }
}
